# Flask and Extensions
Flask
Flask-SocketIO
Flask-SQLAlchemy
Flask-Login
Werkzeug

# Database
SQLAlchemy

# Trading
MetaTrader5
numpy

# WebSocket and Server
eventlet
gunicorn
gevent-websocket

# Environment and Config
python-dotenv
pyngrok

# Telegram Integration
pyTelegramBotAPI

# Testing and Development
pytest
pytest-flask
